#welc_title {
    color: #FF00FF;
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
}

#africon {
    width: 128px;
    height: 128px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
