#welc_title {
    color: #FF00FF;
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
}

#africon {
    width: 128px;
    height: 128px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

#driveridLabel {
    text-align: center;
    margin-right: 0px;
}


#rewardtext {
    margin-left: 200px;
    margin-right: 200px;
}


#rewardqrcode {
    text-align: center;
    margin-top: 50px;
}


#alipayqrcode {
    width: 256px;
    height: 256px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
}

#wepayqrcode {
    width: 256px;
    height: 256px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
}